@import url('./variables.css');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background: var(--my-darkgreen);
}

nav {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: space-between;
}

h1 {
    color: white;
    font-weight: 400;
    width: 17.5rem;
    font-size: 1.75rem;
}

h1 span {
    color: var(--my-lightgreen);
}

h2 {
    color: #CBCBCB;
    font-weight: 400;
    margin-top: 1rem;
    font-weight: 1rem;
    font-size: 1.2rem;
}

.logo {
    display: flex;
    width: 4.64rem;
    justify-content: space-between;
}

.logo img {
    width: 15.24px;
    height: 17.42px;
}

.logo p {
    color: white;
    font-weight: bold;
}

.get-started-button {
    background: var(--my-lightgreen);
    padding: 11px 14px;
    border: 0;
    border-radius: 2px;
    font-size: 1rem;
}

.header-text {
    width: 90vw;
    margin: 2.1rem auto;
    justify-content: flex-start;
}

.header-section-name {
    font-size: 0.688rem;
    margin: 1.2rem 5vw;
    color: var(--my-lightgreen);
}

.header-offers {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin: 0 auto;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6.563rem;
    padding: 1.25rem 0.625rem;
    border-radius: 4px;
    text-align: center;
    background: var(--my-green);
}

.offer img {
    width: 1.875rem;
    height: 1.875rem;
}

.header-contact {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    padding: 2rem 0;
    color: var(--my-lightgreen);
    column-gap: 0.8rem;
    list-style-type: none;
}

.banner {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    width: 90vw;
}

.banner img {
    height: 14rem;
}

.banner-text {
    font-size: 1.25rem;
    text-align: center;
    margin: 2rem 0;
}

.logo-wall {
    display: flex;
    justify-content: space-around;
    column-gap: 3rem;
    row-gap: 3rem;
    flex-wrap: wrap;
}

.logo-wall img {
    height: 1.5rem;
}

.productivity {
    width: 90vw;
    margin: 6rem auto;
}

.prod-title {
    font-size: 2rem;
    text-align: center;
    color: var(--my-darkgreen);
}

.prod-desc {
    font-size: 0.688rem;
    text-align: center;
    margin: 0.4rem auto;
    color: var(--my-gray);
}

.prod-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    row-gap: 1rem;
}

.prod-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20.625rem;
    height: 13.867rem;
    row-gap: 1.333rem;
    padding: 1.875rem 1.267rem;
    border-radius: 11px;
    background: var(--my-lightgreen);
}

.prod-card img {
    height: 5rem;
    width: min-content;
}

.benefit-title {
    font-size: 2rem;
    text-align: center;
    color: var(--my-darkgreen);
}

.benefit-cards {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin: 2rem auto;
    width: 90vw;
}

.benefit-card img {
    width: 100%;
}

.benefit-card-title {
    font-size: 0.9rem;
    margin-top: 1rem;
}

.benefit-card-desc {
    font-size: 0.9rem;
    color: var(--my-gray);
}

.image-breaker {
    width: 90vw;
    margin: 10rem auto;
}

.image-breaker img {
    width: 90vw;
    border-radius: 10px;
}

.software {
    width: 90vw;
    margin: 0 auto;
}

.software-text {
    text-align: center;
}

.software-title {
    font-size: 2rem;
    text-align: center;
    color: var(--my-darkgreen);
}

.software-desc {
    color: var(--my-gray);
    font-size: 14px;
}

.software-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 2rem;
    margin-top: 2rem;
}

.software-card {
    width: 8.75rem;
    text-align: center;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 90vw;
    margin: 6rem auto;
    height: 21.875rem;
    padding: 15px;
    border-radius: 10px;
    background: url('../images/image-downoad.png');
    background-size: cover;
}

.download-title {
    color: white;
    font-size: 1.375rem;
    margin-bottom: 2rem;
}

footer {
    display: flex;
    justify-content: space-around;
    background: var(--my-background-gray);
    padding: 2rem 0;
    height: 18.75rem;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo img {
    width: min-content;
}

.footer-title {
    font-size: 4.5rem;
    font-weight: bold;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links ul {
    list-style-type: none;
}

.social p {
    color: var(--my-gray);
}